<template>
  <div class="container">
    <div class="row">
      <div
        v-show="!loader"
        v-for="item in carListShow"
        :list="item"
        :key="item.id"
      >
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="car-sale-item">
            <template v-if="item.image.length > 0">
              <car-list-images :images="item.image"></car-list-images>
            </template>
            <template v-else>
              <div class="car-image__box" :style="item.image[0]"></div>
            </template>
            <div class="car-name">
              <div class="car-name__model">
                <span class="left-space">
                  {{ item.name }}
                </span>
              </div>
            </div>
            <div class="car-config">
              <div
                v-for="(conf, index) in item.configuration" :key="index"
              >{{ conf }}</div>
            </div>
            <div class="car-price">
              <span class="car-price__general left-space">
                {{ item.official_price }}
              </span> рублей
            </div>
            <div class="car-action">
              <div
              class="btn__action btn__active"
              @click="openDialog(item.id)"
              >
                {{ offer }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <show-more v-show="!loader" @increment="increseShow"></show-more>
    <car-dialog v-if="dialog" @close="closeDialog()">
      <h3 slot="header">Получить спецпредложение</h3>
      <form slot="body" class="form-horizontal">
        <common-fields @valid="comnFields=$event"></common-fields>
        <div class="form-group">
          <label for="inputCar" class="col-sm-4 control-label">Автомобиль:</label>
          <div class="col-sm-8">
            <input type="text" id="inputCar" disabled="disabled" class="form-control" v-model="userInterest">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <soglasie-fields @pick="soglChecks=!soglChecks"></soglasie-fields>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div :class="sendBtn ? sendBtnClassActive : sendBtnClass" @click="sendRequest">Отправить заявку</div>
          </div>
        </div>
      </form>
    </car-dialog>
    <car-dialog v-if="responseDialog" @close="responseDialog=false">
      <h3 slot="header">{{ responseTitle }}</h3>
      <p slot="body">{{ responseText }}</p>
    </car-dialog>
  </div>
</template>

<script>
import { HTTP } from '../http'
import CarDialog from './carDialog.vue'
import CommonFields from './commonFields.vue'
import SoglasieFields from './soglasieFields.vue'
import CarListMore from './carListMore.vue'
import CarListImages from './carListImages.vue'

export default {
  name: 'CarList',
  components: {
    'car-dialog': CarDialog,
    'common-fields': CommonFields,
    'soglasie-fields': SoglasieFields,
    'show-more': CarListMore,
    CarListImages
  },
  props: {
    offer: String
  },
  data () {
    return {
      dialog: false,
      responseDialog: false,
      responseTitle: 'Спецпредложение',
      responseText: '',
      comnFields: false,
      soglChecks: false,
      sendBtnClass: 'btn__action btn__right',
      sendBtnClassActive: 'btn__action btn__right btn__active',
      carId: 0
    }
  },
  computed: {
    userInterest: {
      get () { return this.$store.getters['getUserInterest'] },
      set (val) { this.$store.commit('setUserInterest', val) }
    },
    sendBtn () { return (this.comnFields && this.soglChecks) },
    // Количество а/м
    carListCount () { return this.$store.getters['getCarListCount'] },
    // Список автомобилей для показа
    carListShow () { return this.$store.getters.getCarListShow(this.show) },
    show: {
      get () { return this.$store.getters['getCountShow'] },
      set (val) { this.$store.commit('setCountShow', val) }
    },
    showincrement () { return this.$store.getters['getIncreseShow'] },
    loader () { return this.$store.getters['getLoader'] },
    carInterest () { return this.$store.getters.getCarInterest(this.carId) }
  },
  watch: {
    carInterest (val) {
      if (val.length !== 0) {
        this.userInterest = val[0].name + " (" + val[0].vin + ")"
      }
    }
  },
  methods: {
    increseShow () {
      this.show = this.show + this.showincrement
    },
    openDialog (id) {
      this.dialog = true
      this.carId = id
    },
    sendRequest () {
      if (this.sendBtn) {
        this.dialog = false
        this.$store.commit('setUserPersReady', false)
        this.$store.commit('setUserAdvtReady', false)
        let params = new URLSearchParams()
        params.append('id', this.carInterest[0].id)
        params.append('commercial_number', this.carInterest[0].vin)
        params.append('comment', '')
        params.append('center', '1')
        params.append('soglasieper', true)
        params.append('soglasieadv', true)
        params.append('name', this.$store.getters['getUserFirstName'])
        params.append('surname', this.$store.getters['getUserLastName'])
        params.append('phone', this.$store.getters['getUserPhone'])
        params.append('phone_type', '2')
        params.append('email', this.$store.getters['getUserEmail'])
        params.append('type', 'used-cars.buy')
        HTTP.post('requests.php', params)
          .then(response => {
            if (response.data[0].szerrorcode === 'OK') {
              this.responseText = 'Запрос успешно отправлен!'
            } else {
              this.responseText = 'К сожаленью что-то пошло не так. Попробуйте сделать запрос позже.'
            }
            this.responseDialog = true
          })
          .catch(error => {
            this.responseText = error
            this.responseDialog = true
          })
      }
    },
    closeDialog () {
      this.dialog = false
      this.soglChecks = false
    }
  }
}
</script>

<style>
.car-name__model {
  font-family: "Audi Extended Bold", Verdana, sans-serif;
}
.car-config {
  font-weight: bold;
  color: #666;
}
.car-price {
  font-family: "Audi Bold", Verdana, sans-serif;
}
.form-horizontal {
  font-family: "Audi Normal", Verdana, sans-serif;
  font-size: 21px;
}
@media (max-width: 767px) {
  .car-action {
    padding: 0 7%;
  }
  .car-sale-item {
    padding: 20px 5px 0;
  }
  .car-sale-item span.left-space {
    padding: 0;
  }
  .car-name {
    margin-top: 8px;
    height: 32px;
  }
  .car-name__model {
    font-size: 4vw;
    line-height: 4vw;
  }
  .car-price {
    padding-top: 2vw;
    font-size: 6vw;
    line-height: 8vw;
  }
  .car-price__general {
    font-size: 8vw;
  }
  .car-config {
    min-height: 56px;
    line-height: 6vw;
    font-size: 4vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .car-sale-item {
    padding: 20px 26px 0;
  }
  .car-sale-item span.left-space {
    padding: 0;
  }
  .car-name {
    margin-top: 8px;
    height: 32px;
  }
  .car-name__model {
    font-size: 17px;
    line-height: 17px;
  }
  .car-price {
    padding-top: 5px;
    font-size: 30px;
    line-height: 36px;
  }
  .car-price__general {
    font-size: 30px;
  }
  .car-config {
    min-height: 56px;
    line-height: 16px;
    font-size: 13px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .car-sale-item {
    padding: 20px 26px 0;
  }
  .car-sale-item span.left-space {
    padding: 0;
  }
  .car-name {
    margin-top: 8px;
    height: 32px;
  }
  .car-name__model {
    font-size: 14px;
    line-height: 14px;
  }
  .car-price {
    padding-top: 5px;
    font-size: 24px;
    line-height: 30px;
  }
  .car-price__general {
    font-size: 24px;
    line-height: 30px;
  }
  .car-config {
    min-height: 56px;
    line-height: 16px;
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .car-sale-item {
    padding: 20px 26px 0;
  }
  .car-sale-item span.left-space {
    padding: 0;
  }
  .car-name {
    margin-top: 8px;
    height: 32px;
  }
  .car-name__model {
    font-size: 17px;
    line-height: 17px;
  }
  .car-price {
    padding-top: 5px;
    font-size: 30px;
    line-height: 36px;
  }
  .car-price__general {
    font-size: 30px;
  }
  .car-config {
    min-height: 56px;
    line-height: 19px;
    font-size: 15px;
  }
}
</style>