<template>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="space__3"></div>
    </div>
    <div v-if="more" class="col-lg-12 text-center">
      <span @click="$emit('increment')" class="showmore">Показать еще {{ showincrement }} из {{ balance }}</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="space__2"></div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      more: true
    }
  },
  watch: {
    showincrement (val) {
      if (val < 1) {
        this.more = false
      }
    }
  },
  computed: {
    carListCount () { return this.$store.getters['getCarListCount'] },
    show () { return this.$store.getters['getCountShow'] },
    showincrement () {
      let i = this.$store.getters['getIncreseShow']
      if (i < this.carListCount - this.show) {
        return i 
      } else {
        return this.carListCount - this.show
      }
    },
    balance () {
      return this.carListCount - this.show
    }
   }
}
</script>

<style scoped>
.showmore {
  cursor: pointer;
}
@media (max-width: 767px) {
  .showmore {
    font-size: 6vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .showmore {
    font-size: 24px;
  }
}
</style>