<template>
<div class="car-image__box" :style="curImg">
  <div
    :class="classSector"
    v-for="item in images"
    :key="item.id"
    @mouseover="curImgItem=item.id"  
  >
    <div v-if="images.length>1" :class="item.class"></div>
  </div>
</div>
</template>

<script>
export default {
  props: {
    images: Array
  },
  data () {
    return {
      curImgItem: 0,
    }
  },
  watch: {
    curSector (val) {
      for (let i = 0; i < this.images.length; i++) {
        if (val === i) {
          this.images[i].class = 'car-image__indicator car-image__indicator-active'
        } else {
          this.images[i].class = 'car-image__indicator'
        }
      }
    }
  },
  computed: {
    curImg () { return this.images[this.curImgItem].image },
    curSector () { return this.curImgItem },
    classSector () {
      let count = this.images.length
      if (count > 1) {
        if (count === 2)
          return 'car-image__sector-2'
        if (count === 3)
          return 'car-image__sector-3'
      } else {
        return ''
      }
    }
  },
  methods: {
    //
  }
}
</script>

<style scoped>
.car-image__box {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.car-image__sector,
.car-image__sector-2,
.car-image__sector-3 {
  height: 100%;
  float: left;
}
.car-image__indicator {
  height: 95%;  
  margin: 0 auto;
  width: 90%;
  border-bottom: 3px solid black;
}
.car-image__indicator-active {
  border-bottom: 3px solid #bb0a30;
}
.car-image__sector {
  width: 33.3%;
}
.car-image__sector-2 {
  width: 50%;
}
.car-image__sector-3 {
  width: 33.3%;
}
@media (max-width: 767px) {
  .car-image__box {
    height: 45vw;
    width: 100%;
    background-size: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .car-image__box {
    height: 146px;
    width: 100%;
    background-size: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .car-image__box {
    height: 133px;
    width: 100%;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .car-image__box {
    height: 169px;
    width: 100%;
    margin: 0 auto;
  }
}
</style>