<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="app-header-separator"></span>
      </div>
    </div>
    <div class="row app-header">
      <div class="app-header__list col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <template v-if="loader">
          <div class="row loader-box">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div class="text-center"><div class="loader"></div></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <div class="text-center">Получение списка автомобилей с пробегом</div>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="row loader-box">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="text-center">
                <span
                  class="pointer"
                  @click="dialog=true"
                ><a href="#">Оставить заявку</a></span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="text-center"><a href="/sale/">Новые автомобили</a></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="text-center"><a href="/service/">Cервис</a></div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="app-header-separator"></span>
      </div>
    </div>
    <car-dialog v-if="dialog" @close="closeDialog()">
      <h3 slot="header">Подобрать автомобиль</h3>
      <p slot="text">Если вы не нашли интересующий вас вариант, оставьте заявку и мы подберем для вас необходимый автомобиль в кратчайшие сроки.</p>
      <form slot="body" class="form-horizontal">
        <common-fields @valid="comnFields=$event"></common-fields>
        <div class="form-group">
          <div class="col-xs-12">
            <textarea class="form-control" rows="3" v-model="userMessage" placeholder="Сообщение:"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <soglasie-fields @pick="soglChecks=$event"></soglasie-fields>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div :class="sendBtn ? sendBtnClassActive : sendBtnClass" @click="sendRequest">Отправить заявку</div>
          </div>
        </div>
      </form>
    </car-dialog>
    <car-dialog v-if="responseDialog" @close="responseDialog=false">
      <h3 slot="header">{{ responseTitle }}</h3>
      <p slot="body">{{ responseText }}</p>
    </car-dialog>
  </div>
</template>

<script>
import { HTTP } from '../http'
import CarDialog from './carDialog.vue'
import CommonFields from './commonFields.vue'
import SoglasieFields from './soglasieFields.vue'

export default {
  name: 'CarMenu',
  components: {
    'car-dialog': CarDialog,
    'common-fields': CommonFields,
    'soglasie-fields': SoglasieFields
  },
  data () {
    return {
      dialog: false,
      responseDialog: false,
      responseTitle: 'Подбор',
      responseText: '',
      comnFields: false,
      soglChecks: false,
      sendBtnClass: 'btn__action btn__right',
      sendBtnClassActive: 'btn__action btn__right btn__active'
    }
  },
  computed: {
    userMessage: {
      get () { return this.$store.getters['getUserMessage'] },
      set (val) { this.$store.commit('setUserMessage', val) }
    },
    sendBtn () { return (this.comnFields && this.soglChecks) },
    loader () { return this.$store.getters['getLoader'] }
  },
  methods: {
    sendRequest () {
      if (this.sendBtn) {
        this.dialog = false
        this.$store.commit('setUserPersReady', false)
        this.$store.commit('setUserAdvtReady', false)
        let params = new URLSearchParams()
        params.append('id', '')
        params.append('commercial_number', '')
        params.append('comment', this.userMessage)
        params.append('center', '1')
        params.append('soglasieper', true)
        params.append('soglasieadv', true)
        params.append('name', this.$store.getters['getUserFirstName'])
        params.append('surname', this.$store.getters['getUserLastName'])
        params.append('phone', this.$store.getters['getUserPhone'])
        params.append('phone_type', '2')
        params.append('email', this.$store.getters['getUserEmail'])
        params.append('type', 'used-cars.feedback')
        HTTP.post('requests.php', params)
          .then(response => {
            if (response.data[0].szerrorcode === 'OK') {
              this.responseText = 'Заявка успешно отправлена!'
            } else {
              this.responseText = 'К сожаленью что-то пошло не так. Попробуйте сделать запрос позже.'
            }
            this.responseDialog = true
          })
          .catch(error => {
            this.responseText = error
            this.responseDialog = true
          })
      }
    },
    closeDialog () {
      this.dialog = false
      this.soglChecks = false
    }
  }
}
</script>

<style scoped>
.app-header {
  font-family: "Audi Extended Bold", Verdana, sans-serif;
}
.app-header__list a {
  color:black;
}
.app-header__list a:hover {
  color:#bb0a30;
  text-decoration: underline;
}
.app-header-separator {
  display: block;
  border-top: lightgray 1px solid;
}
.form-horizontal {
  font-family: "Audi Normal", Verdana, sans-serif;
  font-size: 21px;
}
.form-control {
  border: none !important;
  border: 1px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 6px 2px !important;
  color: 000 !important;
  font-size: 18px !important;
}
@media (max-width: 767px) {
  .form-control {
    font-size: 13px !important;
  }
}
/*@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}*/
</style>
