<template>
  <div>
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Ваше имя:</label>
      <div class="col-sm-8">
        <input type="text" id="inputName" class="form-control" v-model="userFirstName" @input="fNameActive=true">
        <div class="filderror">
          <span v-show="fNameActive" class="text-danger">{{ dangerFName }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputSurename" class="col-sm-4 control-label">Ваша фамилия:</label>
      <div class="col-sm-8">
        <input type="text" id="inputSurename" class="form-control" v-model="userLastName" @input="lNameActive=true">
        <div class="filderror">
          <span v-show="lNameActive" class="text-danger">{{ dangerLName }}</span>
        </div>
      </div>
    </div
    ><div class="form-group">
      <label for="inputTel" class="col-sm-4 control-label">Телефон:</label>
      <div class="col-sm-8">
        <input type="tel" id="inputTel" class="form-control" v-mask="'+7 (###) ###-##-##'" v-model="userPhone" @input="pNumrActive=true"> 
        <div class="filderror">
          <span v-show="pNumrActive" class="text-danger">{{ dangerPNumr }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Email:</label>
      <div class="col-sm-8">
        <input type="email" id="inputEmail" class="form-control" v-model="userEmail" @input="eMailActive=true">
        <div class="filderror">
          <span v-show="eMailActive" class="text-danger">{{ dangerEMail }}</span>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import {mask} from 'vue-the-mask'

export default {
  name: 'CommonFields',
  directives: {mask},
  data () {
    return {
      fNameActive: false,
      lNameActive: false,
      pNumrActive: false,
      eMailActive: false,
      pNumrQuantity: 11
    }
  },
  computed: {
    userFirstName: {
      get () { return this.$store.getters['getUserFirstName'] },
      set (val) { this.$store.commit('setUserFirstName', val) }
    },
    userLastName: {
      get () { return this.$store.getters['getUserLastName'] },
      set (val) { this.$store.commit('setUserLastName', val) }
    },
    userPhone: {
      get () { return this.$store.getters['getUserPhone'] },
      set (val) { this.$store.commit('setUserPhone', val) }
    },
    userEmail: {
      get () { return this.$store.getters['getUserEmail'] },
      set (val) { this.$store.commit('setUserEmail', val) }
    },
    validFName () {
      let s = this.userFirstName
      if (s.length === 0) { return 1001 }
      if (s.length < 2) { return 1002 }
      return 1000
    },
    validLName () {
      let s = this.userLastName
      if (s.length < 100 && this.validFName === 1000) { return 2000 }
      if (s.length === 0) { return 2001 }
      return 2000
    },
    validPNumr () {
      let s = this.userPhone
      if (s.length === 0) { return 3001 }
      if (!this.validPhone(s, this.pNumrQuantity)) { return 3002 }
      return 3000
    },
    validEMail () {
      let s = this.userEmail
      if (s.length === 0) { return 4001 }
      if (!this.validEmail(s)) { return 4002 }
      return 4000
    },
    dangerFName () {
      let f = this.validFName
      if (f === 1000) { return '' }
      if (f === 1001) { return 'Вы не заполнили Имя' }
      if (f === 1002) { return 'Слишком короткое Имя' }
    },
    dangerLName () {
      let l = this.validLName
      if (l === 2000) { return '' }
      if (l === 2001) { return 'Вы не заполнили Фамилию' }
    },
    dangerPNumr () {
      let p = this.validPNumr
      if (p === 3000) { return '' }
      if (p === 3001) { return 'Вы не заполнили Телефон' }
      if (p === 3002) { return 'Слишком короткий Телефон' }
    },
    dangerEMail () {
      let e = this.validEMail
      if (e === 4000) { return '' }
      if (e === 4001) { return 'Вы не заполнили Email' }
      if (e === 4002) { return 'Email еще некорректный' }
    },
    validFields () {
      let v = this.validFName + this.validLName + this.validPNumr + this.validEMail
      if ([8000, 10000].indexOf(v) !== -1) {
        return true
      }
      return false
    }
  },
  watch: {
    validFields (val) {
      // if (val) {
      this.$emit('valid', val)
      // }
    }
  },
  methods: {
    validEmail (email) {
      let reg = /^(([^<>()/\]\\.,;:\s@"]+(\.[^<>()/\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return reg.test(email)
    },
    validPhone (phone, quantity) {
      if (phone === '+') return false
      let reg = /\d/g
      let result = []
      result = phone.match(reg)
      return (result.length === quantity) ? true : false
    }
}
}
</script>

<style scoped>
.form-horizontal .control-label {
  text-align: left !important;
  font-weight: 400;
}
.form-control {
  border: none !important;
  border-bottom: 1px solid !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 6px 2px !important;
  color: #000 !important;
  font-size: 18px !important;
}
.form-group .filderror {
  font-size: 50%;
  margin-bottom: -15px;
}
@media (max-width: 767px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    font-size: 4vw;
    line-height: 5vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    text-align: left !important;
    font-size: 90%;
    line-height: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    text-align: left !important;
    font-size: 90%;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .form-control {
    padding: 6px 2px !important;
    font-size: 18px !important;
  }
  .form-horizontal .control-label {
    text-align: left !important;
    font-weight: 400;
  }
}
</style>
