<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <span
            class="modal-close"
            @click="$emit('close')"
            >×</span>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <slot name="header"></slot>
                </div>
                <div class="col-lg-12">
                  <slot name="text"></slot>
                  <slot name="body"></slot>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
  name: 'RequestDialog'
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  margin: 2em auto;
  padding: 0px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
  padding: 0px !important;
  border-bottom: 0px !important;
}
.modal-close {
  line-height: 1.45625;
  color: #fff;
  background-color: #000;
  float: right;
  padding-right: 10px;
  font-size: 1.333em;
  cursor: pointer;
}
.modal-body {
  margin: 0px 0 20px;
  padding: 5px 34px 5px !important;
}
.modal-default-button {
  float: right;
}
@media (max-width: 767px) {
  .modal-container {
    margin: 1em auto;
    width: 100vw;
  }
  .modal-body {
    margin: 0px 0 20px;
    padding: 5px 0px 5px !important;
  }
  .modal-close {
    font-size: 7vw;
    font-weight: normal;
    border-left: 2px solid;
    border-bottom: 2px solid;
    padding-left: 3vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .modal-container {
    width: 692px;
    padding-bottom: 20px;
  }
  .modal-close {
    font-size: 24px;
    font-weight: normal;
    padding-left: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .modal-container {
    width: 692px;
    padding-bottom: 24px;
  }
  .modal-close {
    font-size: 22px;
    font-weight: normal;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .modal-container {
    width: 692px;
    padding-bottom: 30px;
  }
  .modal-close {
    font-size: 24px;
    font-weight: normal;
    padding-left: 10px;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
