<template>
  <div class="checkbox">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label>
          <input type="checkbox" v-model="pickPers">
          <span class="checkbox__icon"></span> Согласие на
        </label>
        <span>&nbsp;<u>обработку персональных данных</u></span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label>
          <input type="checkbox" v-model="pickAdvt">
          <span class="checkbox__icon"></span> Согласие на
        </label>
        <span>&nbsp;<u>получение рекламной информации от Audi</u></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SoglasieFields',
  data () {
    return {
      pickPers: false,
      pickAdvt: false
    }
  },
  computed: {
    pickTwo () { return (this.pickAdvt && this.pickPers) }
  },
  watch: {
    pickTwo (val) {
      this.$emit('pick', val)
    }
  }
}
</script>

<style scope>
.form-group .checkbox label,
.form-group .checkbox span {
  font-size: 10px;
  display: inline-block;
  min-height: 15px;
  cursor: pointer;
}
.form-group .checkbox input {
  margin-top: 1px;
  opacity: 0;
}
label .checkbox__icon {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #b7b1aa;
  text-align: center;
  line-height: 18px;
  margin-right: 5px;
  position: absolute;
}
label .checkbox__icon::before {
  width: 100%;
  height: 100%;
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolygon fill='%23333333' points='4.945 12 0 7.699 0.667 6.92 4.708 10.435 11.132 0 12 0.543 4.945 12' /%3E%3C/svg%3E") center center no-repeat;
  opacity: 0;
}
label input:checked+.checkbox__icon::before {
  opacity: 1;
}
label input:checked+.checkbox__icon {
  border-color: #010001;
}
.form-group .checkbox {
  padding: 10px;
  line-height: 15px;
}
@media (max-width: 767px) {
  .form-group .checkbox label,
  .form-group .checkbox span {
    font-size: 2.4vw;
    line-height: 7vw;
  }
  label .checkbox__icon {
    width: 5vw;
    height: 5vw;
    top: 1vw;
    left: 1vw;
  }
  .form-group .checkbox label {
    margin-left: 0.7vw;
    padding-left: 12px;
  }
  .form-group .checkbox input {
    width: 6vw;
    height: 7vw;
    margin-left: -8vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-group .checkbox label,
  .form-group .checkbox span {
    font-size: 13px;
    margin-bottom: 10px;
  }
  label .checkbox__icon {
    width: 18px;
    height: 18px;
    top: 0;
    left: 4px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form-group .checkbox label,
  .form-group .checkbox span {
    font-size: 13px;
    margin-bottom: 10px;
  }
  label .checkbox__icon {
    width: 18px;
    height: 18px;
    top: 0;
    left: 4px;
  }
}
@media (min-width: 1200px) {
  .form-group .checkbox label,
  .form-group .checkbox span {
    font-size: 10px;
    margin-bottom: 10px;
  }
  label .checkbox__icon {
    width: 18px;
    height: 18px;
    top: 0;
    left: 4px;
  }
}
</style>
