<template>
  <div class="container">
    <div class="row">
      <yandex-map 
        :coords="[59.93607602, 30.35089660]"
        zoom="11"
        style="width: 100%; height: 500px;"
        :controls="['zoomControl', 'fullscreenControl']"
        :placemarks="placemarks"
        map-type="map"
      >
        <!-- <ymap-marker
          marker-id="1"
          marker-type="placemark"
          :coords="[59.86091576, 30.26236450]"
          :icon="{ layout: 'default#image', imageHref: './png/pointer.png', imageSize: [16, 26], imageOffset: [-8, -26] }"
          :callbacks="alert"
        ></ymap-marker> -->
      </yandex-map>
    </div>
    <car-dialog v-if="dialog" @close="dialog=false">
      <h3 slot="header">Ауди Центр Петербург<br><small>Официальный дилер Audi</small></h3>
      <div slot="body">
        <p>Санкт-Петербург, пр. Стачек, д. 106<br>Телефон: +7 (812) 600 0 106</p>
        <p><span class="text-muted">График работы:<br>08:00 - 21:00 сервис и запчасти<br>09:00 - 21:00 продажи автомобилей</span></p>
      </div>
    </car-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import YmapPlugin from 'vue-yandex-maps'
import CarDialog from './carDialog.vue'

Vue.use(YmapPlugin)

export default {
  components: {
    'car-dialog': CarDialog,
  },
  data () {
    return {
      dialog: false,
      placemarks: [
        {
          coords: [59.86091576, 30.26236450],
          properties: {}, // define properties here
          options: {
            iconLayout: 'default#image',
            iconImageHref: './png/pointer.png',
            iconImageSize: [16, 26],
            iconImageOffset: [-8, -26]
          }, // define options here
          callbacks: { click: this.showDialog }
        }
      ]
    }
  },
  methods: {
    showDialog () {
      this.dialog = !this.dialog
    }
  }
}
</script>

<style scoped>
.modal-body h3 {
  margin-top: 0;
  padding-top: 0;
  font-family: "Audi Extended Bold", Verdana, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
</style>